[user]
    name = Prosper Van
    # email = prosper.van@fluke.com
    # email = vanprosper@gmail.com

[push]
    default = simple

[alias]
    show-hidden = !git ls-files -v | grep "^[[:lower:]]"
    hide = !git update-index --assume-unchanged
    unhide = !git update-index --no-assume-unchanged
    co = checkout
    cm = commit --verbose
    br = branch
    bd = branch -d
    hist = log --oneline --abbrev-commit --all --graph --decorate --color

    bl = branch --all --verbose --verbose # Branch List

    log-pretty = log --pretty=tformat:'%Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %><(9)%C(yellow)%h%Creset%s%C(auto)%d%Creset' --boundary --date=short --graph
    # Log short
    l = !git --no-pager log-pretty --max-count=10
    # Log Comparison
    lc = !git --no-pager log-pretty --graph --left-right # branch...other_branch
    # Log Comparison with Remote branch
    lcr = !git lc @{upstream}...HEAD
    # Log Long
    ll = !git log-pretty
    # Log Long with All branches and refs
    lla = !git log-pretty --all

# Branch Create Remote
    bcr = "!f() { git push --set-upstream \"$1\" $(git rev-parse --abbrev-ref HEAD 2>/dev/null); }; f"

    # Branches that are Merged
    bm =  !echo 'Merged Branches:' && git bl --merged

    # Branches that are  Un-Merged
    bum = !echo ' Unmerged Branches:' && git bl --no-merged

    # Fast forward only
    ff = merge --ff-only


[core]
    xcludesFile=~/.git/ignore
    editor = vim

[credential]
    helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[color]
    ui = auto